body {
  background-color: #f3f3f3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(0, 2, 4, rgba(0, 0, 0, 0.1));
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
}

li a:hover {
  color: rgba(0, 0, 0, 1);
}
